{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="titleInput">Title:</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="{{ request.form['title'] or post['title'] }}">
    </div>
    <div class="form-group">
      <label for="questionBodyInput">Edit the details of the question:</label>
      <textarea rows="8" name="body" class="form-control" id="questionBodyInput" placeholder="Give details about your question">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
