<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Qans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">QAns</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div id="login_links">
      {% if g.user %}
        <a href="#">{{ g.user['username'] }}</a>
        <a class="btn btn-primary" href="{{ url_for('auth.logout') }}" role="button">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category,message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-primary alert-{{category}}" role="alert">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<footer>
  <hr />
  <small>Created by thebongy. Project is under MIT License.</small>
</footer>
</div>
</body>
</html>